<div class="container">
    <div class="row col-12 mt-4">
        <h3>Lista de usuários por empresa</h3>
        <table class="table mt-2">
            <thead>
              <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>
            <span *ngFor="let u of users | keyvalue">
                <tr *ngFor="let user of users[u.key]">
                    <td>{{ user && user.company && user.company.name ? user.company.name : ''}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                </tr>
            </span>
            </tbody>
          </table>

    </div>
</div>